# Node
node_modules/
.env

# Python
venv/
__pycache__/
*.pyc

# Databases
*.db
finchatgpt/finchatgpt/instance/

# Models / large files
models/
*.safetensors
*.bin
ollama/

# Notebooks
*.ipynb

# OS / editor
.DS_Store
.vscode/
